<template>
  <div>
    <img :style="style" :src="$withBase(`/${image}`)" alt="Logo">
  </div>
</template>

<script>
  export default {
    props: {
      width: {
        type: String,
        default: "100px"
      },
      image: {
        type: String,
        default: ''
      },
    },
    computed: {
      style() {
        return {
          width: this.width,
        }
      }
    },
    name: "technology"
  }
</script>

<style scoped>
img {
  width: 100px;
  margin-top: 20px;
}

</style>